<a [routerLink]="['/page1/sub2']" style="padding: 0.8em">go to page 1 </a>
<a [routerLink]="['/page2/sub4']" style="padding: 0.8em">go to page 2 </a>
<!-- <a [routerLink]="['/page2/sub5']" style="padding: 0.8em">go to page 2 </a> -->
<a [routerLink]="['/page3/sub1']" style="padding: 0.8em">go to page 3 </a>

<div style="margin-top: 20px; padding: 20px; border: 1px solid">
  <ng-container *ngFor="let item of componentsList">
    <div style="border: 1px solid red; margin: 5px 0; padding: 0 10px">
      <ng-container
        *ngComponentOutlet="item.component; injector: createInjector(item.data)"
      ></ng-container>
    </div>
  </ng-container>
</div>
